include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpassist *.css
recursive-include erpassist *.csv
recursive-include erpassist *.html
recursive-include erpassist *.ico
recursive-include erpassist *.js
recursive-include erpassist *.json
recursive-include erpassist *.md
recursive-include erpassist *.png
recursive-include erpassist *.py
recursive-include erpassist *.svg
recursive-include erpassist *.txt
recursive-exclude erpassist *.pyc
